// .d-flex,
// .items {
//   background: var(--white);
// }
// .d-flex,
// .items {
//   background: var(--white);
// }
// .d-flex {
//   padding: 0.5rem 1rem;
//   gap: 2rem;
//   align-items: center;
//   margin-bottom: .5rem;
//   justify-content: space-between;
//   input {
//     padding: 10px 18px;
//     min-width: 18rem;
//   }
// }
// .task{
//   padding: .2rem 1rem;
// }
.scroll{
  max-height: 70vh;
  padding-bottom: 5rem;
  margin-top: 2rem;
}


.table th,
.table td {
  padding: 0.5rem 0;
  padding-right: 2rem;
}
.table td {
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
}
.table {
  width: 100%;
  td,
  th {
    padding: 0.5rem;
    padding-right: 2rem;
  }
  td {
    font-size: 0.75rem;
    font-weight: 500;
  }
}