<app-back
  [heading]="'Customers'"
  [pageName]="'Dashboard'"
  url="/admin"
></app-back>

<div class="d-flex box-shadow border-radius gap-3 p-2">
  <div class="w-50">
    <input
      type="search"
      placeholder="Filter by name"
      class="form-control border-radius w-100"
      [(ngModel)]="query"
    />
  </div>
  <div>
    <a
      class="btn btn-primary border-radius"
     (click)="addCustomer = 'add'"
      >Add customer</a
    >
  </div>
</div>

<div class="items box-shadow border-radius" *ngIf="customers.length">
  <div class="scroll">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Customers</th>
        </tr>
      </thead>
      <tbody>
        <tr class="task" *ngFor="let customer of customers | customerpipe: query"   (click)="select(customer)">
          <td>
            {{ customer.Name }}
          </td>
          <td>
            {{ customer.Machines || '0' }}
          </td>
          <td>
            {{ customer.FsrCount || '0' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>

<app-customer-add-modal
  *ngIf="addCustomer"
  [q]="query"
  [customerId]="addCustomer"
  (addEvent)="addCustomer = ''; pushCustomer($event)"
  (closeEvent)="addCustomer = ''"
></app-customer-add-modal>