.compressor-add-parts {
  position: fixed;
  left: 1rem;
  top: 1rem;
  width: 25rem;
  height: 96%;
  overflow: hidden;
  z-index: 1000000000000000;
  border: 1px solid var(--cloud);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  @media screen and (max-width: 600px) {
    width: 98%;
  }
}

.scroll {
  padding: 2rem 0.4rem;
}

._item {
  border-bottom: 1px solid rgb(213, 213, 213);
  padding: 10px 0;
}

p {
  font-size: 0.75rem;
}

.btn {
  font-weight: 400;
  padding: 4px 10px;
  font-size: 0.75rem;
  min-width: 5rem;
}
