<div class="_modal1 border-radius p-3" *ngIf="machine">
  <div
    class="_header box-shadow border-radius p-3  mb-3 d-flex justify-content-between align-items-center"
  >
    <h5>Add Compressor</h5>
    <i class="bi bi-x-lg pointer" (click)="close()"></i>
  </div>

  <div class="scroll">
    <div class="form">
        <div class="form-group">
          <label for="name">Compressor Model </label>
          <input type="text" class="form-control" [(ngModel)]="machine.Model" />
        </div>
    
        <div class="form-group">
          <label for="name">Compressor Serial </label>
          <input type="text" class="form-control" [(ngModel)]="machine.Serial" />
        </div>
    
        <div class="form-group">
          <label for="name">Compressor hours </label>
          <input type="text" class="form-control" [(ngModel)]="machine.Hours" />
        </div>
    
        <div class="form-group">
          <!-- <button class="btn btn-secondary" (click)="close()">Cancel</button> -->
          <button
            (click)="save()"
            class="btn btn-primary"
            [disabled]="!machine.Model && !machine.Serial"
          >
            Save Compressor
          </button>
        </div>
      </div>
  </div>
</div>
