<app-back
  [heading]="'User Details'"
  [pageName]="'Users'"
  url="/admin/customers"
></app-back>

<div class="page-item box-shadow border-radius scroll" *ngIf="customer">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      [(ngModel)]="customer.Name"
      class="form-control"
      id="phone"
      required
    />
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Email</label>
        <input
          type="email"
          [(ngModel)]="customer.Email"
          class="form-control"
          id="phone"
          required
        />
      </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
          <label for="name">Phone Number</label>
          <input
            type="text"
            [(ngModel)]="customer.PhoneNumber"
            class="form-control"
            id="phone"
            required
          />
        </div>
      </div>
 
  </div>

  <div class="row">
   
   

    <div class="col-md-12">
      <div class="form-group">
        <label for="name">Profile picture</label>
        <app-image-widget
          [image]="customer.Dp"
          (imageChangedEvent)="onImageChangedEvent($event)"
        >
        </app-image-widget>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <button
      type="submit"
      [disabled]="!customer.Name"
      type="button"
      (click)="save()"
      class="btn btn-primary w-100"
    >
      Save
    </button>
  </div>
</div>
