<input
  type="file"
  accept="image/png, image/jpeg"
  #file
  placeholder="Choose file"
  (change)="uploadFile(file.files)"
  style="display: none"
/>

<div class="preview" *ngIf="image && image.length">
  <img (click)="file.click()" [src]="image" alt=""  />
  <a *ngIf="image && image.length" (click)="remove()" class="link-danger">
    <i class="bi bi-trash"></i>
  </a>
  <span *ngIf="loading"  class="loader"></span>
</div>

<div class="no-image" *ngIf="!image">
  <i class="_upload bi bi-upload" (click)="file.click()" alt=""></i>
  <span *ngIf="loading" class="loader"></span>
</div>
<!--


<div class="imagew">


  <div class="col-sm-12" *ngIf="!loading">
    <div class="card text-center m-1 no-box-shadow">


      <div class="card-body">
     
        <a *ngIf="!image || !image.length" (click)="file.click()" class="card-link">Click to upload.</a>
      </div>
    </div>
  </div>
</div>



<div *ngIf="type  === 'Image-2' && image">
  <a class="btn btn-dark" style="margin:1rem auto ; display: block;" (click)="editImage()">Edit image</a>

</div> -->
