<div class="" *ngIf="user && allTasks.length">
  <h2 class="d-flex justify-content-between align-items-center _h1">
    My dashboard
    <a class="link-danger pointer" (click)="logout()"
      ><i class="bi bi-box-arrow-in-left"></i>Logout</a
    >
  </h2>
  <app-technicain-task-board  (openMenuEvent)="onOpenMenuEvent($event)" [user]="user"></app-technicain-task-board>
  <!-- <div class="grid">
    <input
      type="search"
      class="form-control"
      [(ngModel)]="status"
      placeholder="Search tasks"
    />
    <select
      type="search"
      class="form-control"
      [(ngModel)]="status"
      placeholder="Search tasks"
    >
      <option [value]="item" *ngFor="let item of TASK_STATUS_LIST">
        {{ item }}
      </option>
    </select>
  </div>
  <div class="d-flex justify-content-center align-items-center fiters">
    <button *ngFor="let item of statusFilter" [ngClass]="item.Classes">
      {{ item.Name }}
    </button>
  </div>
  <app-task-groups
    (openMenuEvent)="onOpenMenuEvent($event)"
    [tasks]="allTasks"
    (taskGroupEvent)="currentTask = $event"
  ></app-task-groups> -->
</div>

<app-task-menu
  [user]="user"
  [task]="task"
  *ngIf="task && task.OpenMenu"
  (closeMenuEvent)="task.OpenMenu = false"
></app-task-menu>
