
h2 {
  margin: 2rem 0;
}
.fiters{
  padding: 2rem 0;
  gap: 1rem;
  .btn-light{
    // background: var(--cloud);
  }
  .btn{
    padding: 4px 8px !important;
    font-weight: 400;
  }
}

.grid{
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: .5rem;
}
._h1{
  font-size: 1.2rem;
}
.link-danger{
  font-size: .8rem;
  cursor: pointer;
}