.title {
  font-weight: 600;
}
.customer {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.task {
  display: grid;
  grid-template-columns: 5rem 70% auto;
  align-items: center;
}

.badge{
  width: fit-content;
}
.gap10{
  gap: 2rem;
}