._modal1 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    z-index: 1000000000;
    background: white;
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.244) 20px -13px 24px 10px;
    border: 1px solid var(--cloud);
    @media screen and (max-width: 600px) {
      width: 98%;
      left: 0rem;
      transform: none
    }
  }
  .scroll {
    max-height: 70vh;
  }
  
