.login{
    max-width: 30rem;
    padding: 3rem;
    margin: 5% auto;
    label{
        display: block;
    }
    input{
        margin-bottom: 1rem;
        width: 100%;
    }

    img{
        margin: 2rem auto;
    }
}