<ng-container *ngIf="task">
  <div class="bg-white mb-3 p-3 border-radius box-shadow task">
    <div class="top">
      <div>
        <h5>About Task</h5>
        <div class="d-flex align-items-center">
          <p style="width: 50%;">Assigned to: </p>
          <select *ngIf="users?.length"
          name=""
          [(ngModel)]="task.AssignedTo"
          (change)="userChaged()"
          class="form-select"
          id=""
        >
        <option value="">Any user</option>
          <option [value]="user.UserId" *ngFor="let user of users">{{ user.Name }}</option>
        </select>
        </div>
       
        <br>

    
      </div>
    </div>

    <app-fsr-card *ngIf="task.Fsr && task.Fsr.PartsUsed" [task]="task"></app-fsr-card>
  </div>


</ng-container>
