
.border-radius{
    border-radius: var(--border-radius);
}

.box-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box-shadow-2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box-shadow-3{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}