<ng-container *ngIf="task">
  <div class="bg-white mb-3 p-2 border-radius box-shadow task">
    <!-- <app-progress-circle></app-progress-circle> -->
    <div>
      <p class="title">
        {{ task.Name }}
      </p>
      <p class="customer" *ngIf="task.Customer">
        <i class="bi bi-building"></i> {{ task.Customer.Name }}
      </p>
      <p class="customer" *ngIf="task.Assigned">
        <i class="bi bi-person-gear"></i> {{ task.Assigned.Name }}
      </p>
   
    </div>
    <button class="btn btn-light" (click)="openMenu(task)">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</ng-container>
